In [1]:
import os
import pathlib
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix

In [3]:
df=pd.read_excel('C:/Users/DS3/Downloads/random_forest_dataset.xlsx')

In [4]:
df.shape

(106, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   106 non-null    int64
 1   Unnamed: 1   106 non-null    object
 2   Unnamed: 2   106 non-null    object
 3   Unnamed: 3   106 non-null    object
 4   Unnamed: 4   106 non-null    int64
 5   Unnamed: 5   106 non-null    float64
 6   Unnamed: 6   106 non-null    float64
 7   Unnamed: 7   106 non-null    float64
 8   Unnamed: 8   106 non-null    int64
 9   Unnamed: 9   106 non-null    float64
 10  Unnamed: 10  106 non-null    int64
 11  Unnamed: 11  106 non-null    int64
 12  Unnamed: 12  106 non-null    float64
 13  Unnamed: 13  106 non-null    float64
 14  Unnamed: 14  106 non-null    object
dtypes: float64(6), int64(5), object(4)
memory usage: 12.5+ KB

In [6]:
df = df.dropna(how='any', subset=df.columns)

In [10]:
df.to_excel('C:/Users/DS3/Downloads/random_forest_dataset.xlsx', index=False)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   106 non-null    int64
 1   Unnamed: 1   106 non-null    object
 2   Unnamed: 2   106 non-null    object
 3   Unnamed: 3   106 non-null    object
 4   Unnamed: 4   106 non-null    int64
 5   Unnamed: 5   106 non-null    float64
 6   Unnamed: 6   106 non-null    float64
 7   Unnamed: 7   106 non-null    float64
 8   Unnamed: 8   106 non-null    int64
 9   Unnamed: 9   106 non-null    float64
 10  Unnamed: 10  106 non-null    int64
 11  Unnamed: 11  106 non-null    int64
 12  Unnamed: 12  106 non-null    float64
 13  Unnamed: 13  106 non-null    float64
 14  Unnamed: 14  106 non-null    object
dtypes: float64(6), int64(5), object(4)
memory usage: 12.5+ KB

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,4,1RV21MC004,AISHWARYA K KAMBLE,Analysis and Deployment of an efficient Deep L...,88,17.6,85.0,34.0,96,19.2,13,4,36.2,87.8,A
1,5,1RV21MC005,AISHWARYA NAGARAJ BABALESHWAR,Development of Deep Learning Model for Varied ...,84,16.8,82.0,32.8,77,15.4,15,5,35.4,85.0,A
2,6,1RV21MC006,AJITH KUMAR K,Creating Email Campaign Templates using Visual...,89,17.8,87.0,34.8,92,18.4,15,4,37.4,90.0,S
3,7,1RV21MC007,AKASH,AR Application To Visualize Biogas Plant,94,18.8,92.0,36.8,95,19.0,14,5,38.0,93.6,S
4,8,1RV21MC008,AKASH BHARDWAJ,Intrusion Detection System Using Machine Learn...,82,16.4,75.0,30.0,77,15.4,13,5,33.4,79.8,B

In [ ]:
x = df[['']]

In [8]:
 x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

NameError: name 'x' is not defined

In [ ]:
param_grid={
    'n_estimators':[100,200,300],
    'max_depth':[None,10,20],
    'min_samples_split':[2,5,10],
    'min_samples_leaf':[1,2,4]
}

In [ ]:
grid_search=GridSearchCV(RandomForestClassifier(random_state=42),param_grid,cv=5,n_jobs=-1)
grid_search.fit(x_train,y_train)
best_params=grid_search.best_params
best_rf_classifier=RandomForestClassifier(best_params,random_state=42)
best_rf_classifier.fit(x_train,y_train)

In [ ]:
feature_importance=best_rf_classifier.feature_importance_
sns.barplot(x=feature_importance,y=x.columns)
plt.title('Feature importance')
plt.xlabel("Importance")
plt.ylabel("Feature")
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

In [ ]:
y_pred=best_rf_classifier.predict(x_test)
print("Confusion matrix")
from sklearn.metrics import confusion_matrix

In [ ]:
classnames=['0','1']